[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
